extends layout

block content
  include header
  include intro
  // Page Contents
  
  .pusher
    
    .ui.vertical.stripe.segment
      .ui.middle.aligned.stackable.grid.container
        .row !{a('foss4g-ar')}
    .ui.vertical.stripe.segment
      .ui.middle.aligned.stackable.grid.container
        .row
          h1 #{__('Oradores')}
        .row.ui.link.four.cards
            each speaker in speakers
            
              .card.wide
                .ui.dimmer
                  .content
                    .center
                      p #{speaker.bio} 
                .image
                  img.ui.image.fluid.speaker(src="#{speaker.avatar}")
                .content
                  .header #{speaker.firstname} #{speaker.lastname} 
                  .meta
                    a @#{speaker.twitter} 
                  .description
                    | #{speaker.bio} 
                .extra.content
                  span.right.floated
                    | #{speaker.country}
                  span#speaker #{speaker.organization}
            
        .row
          .center.aligned.column
            a.ui.huge.button(href="#cfp") #{__('Postulate como disertante')}

    .ui.vertical.inverted.stripe.segment#register
      .ui.container
        .row
          .ui.inverted.icon.message
            i.calendar.icon
            .content
              .header.inverted #{__('Las incripciones serán abiertas el XX/2105. ')}
              .description
                img.ui.wireframe.image(style="margin:15px;", src="/img/wireframe-paragraph.png")
    .ui.vertical.inverted.stripe.segment#cfp
      .ui.container
        .row
          .ui.inverted.icon.message
            i.calendar.icon
            .content
              .header.inverted #{__('El llamado a presentaciones comienza el XX/2105. ')}
              .description
                img.ui.wireframe.image(style="margin:15px;", src="/img/wireframe-paragraph.png")

    .ui.vertical.stripe.segment
      .ui.container
        .row
          div#donde
            div !{a('donde')}
            #map
            script.
              var map = L.map('map',{scrollWheelZoom: false}).setView([-34.57198,-58.44017],17);
              L.tileLayer('https://a.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
                  attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
                  maxZoom: 18,
                  id: 'fernando.jbnfnb8i',
                  accessToken: 'pk.eyJ1IjoiZmVybmFuZG8iLCJhIjoib29xOGNfbyJ9.bAxNNENyPazSKDPNTC_8Vw'
              }).addTo(map);

    .ui.vertical.stripe.segment
      .ui.container
        .row  
          .column
            .ui.items.inverted
              .item
                .content
                  .header
                    h1.right #{__('Talleres')}
                  .meta
                    span.price
                    span.stay
                  .description !{a('talleres')}
                .ui.medium.image
                  img.foss4g2013.ui.fluid.circular.image(src="/img/foss4gba-3.jpg")
              .item
                .ui.large.image
                  img.foss4g2013.ui.fluid.circular.image(src="/img/foss4gba-w.jpg")
                .content
                  .header 
                    h1 #{__('Presentaciones')}
                  .meta
                    span.price
                    span.stay
                  .description !{a('presentaciones')}
              .item
                .content
                  .header
                    h1 #{__('Comunidad')}
                  .meta
                  .description !{a('comunidad')}
                .ui.large.image.right
                  img.foss4g2013.ui.fluid.circular.image(src="/img/foss4gba-1.jpg")
    include footer