extends layout

include _editor_mixins.jade

prepend title
  | #{__('Creating new')} #{__(model.name)} &mdash;

block content
  h1 #{__('Creating new')} #{__(model.name)}

  form(method='post', role='form').form-horizontal.model-form
    each fieldData, fieldName in model.fields
      .form-group
        label.control-label.col-sm-2 #{__(fieldName)}
        +editor(fieldName, newInstance[fieldName], fieldData)
    button(type='submit').btn.btn-success #{__('Save new')} #{__(model.name)}

