extends layout

include _editor_mixins.jade

prepend title
  | #{__('Editing')} #{__(model.name)}: #{model.toString(instance)} &mdash;

block content
  h1 #{__('Editing')} #{model.name}: #{model.toString(instance)}
  p #{__('ID')}: #{instance.id}.

  form(method='post', role='form').form-horizontal.model-form
    each fieldData, fieldName in model.fields
      .form-group
        label.control-label.col-sm-2 #{__(fieldName)}
        +editor(fieldName, instance.get(fieldName) , fieldData)
    button(type='submit').btn.btn-success #{__('Save this')} #{model.name}

