extends layout

prepend title
	| #{__('Home &mdash;')}

block content
	h1 #{__('Home')}
	p


	h2.success #{__('Database statistics')}
	dl.dl-horizontal
		dt #{__('Database Name')}
		dd= stats.db
		dt #{__('# of Collections')}
		dd= stats.collections
		dt #{__('# of Documents')}
		dd= stats.objects
		dt #{__('Average Document Size')}
		dd #{stats.avgObjSize} kB
		dt #{__('Databse Size')}
		dd #{stats.dataSize} kB
		dt #{__('Storage Size')}
		dd #{stats.storageSize} kB
		dt #{__('Database File Size')}
		dd #{stats.fileSize} kB
