extends layout

block content
  // Following Menu
  .ui.large.top.fixed.hidden.menu
    .ui.container
      a.active.item Home
      a.item(href='#') #{__('FOSS4G')}
      a.item(href='#') #{__('Cuándo')}
      a.item(href='#') #{__('Dónde')}
      a.item(href='#') #{__('Inscripción')}
      a.item(href='#') #{__('Contacto')}
      .right.menu
        .item
          a.ui.button Log in
        .item
          a.ui.primary.button Sign Up
  // Sidebar Menu
  .ui.vertical.inverted.sidebar.menu
    a.active.item Home
    a.item(href='#') #{__('FOSS4G')}
    a.item(href='#') #{__('Cuándo')}
    a.item(href='#') #{__('Dónde')}
    a.item(href='#') #{__('Inscripción')}
    a.item(href='#') #{__('Contacto')}

  // Page Contents
  .pusher
    .ui.inverted.vertical.masthead.center.aligned.segment
      .ui.container
        .ui.large.secondary.inverted.pointing.menu
          a.toc.item
            i.sidebar.icon
          a.active.item Home
          a.item(href='#') #{__('FOSS4G')}
          a.item(href='#') #{__('Cuándo')}
          a.item(href='#') #{__('Dónde')}
          a.item(href='#') #{__('Inscripción')}
          a.item(href='#') #{__('Contacto')}
          .right.item
            a.ui.inverted.button
              i.big.translate.icon 
              |  #{__('Cambiar idioma')}
      .ui.text.container
        h1.ui.inverted.header #{__(title)}
        h2 #{__(slogan)}
          p
          .ui.huge.primary.button
            | #{__('Registrate')}
            i.right.arrow.icon
    .ui.vertical.stripe.segment
      .ui.middle.aligned.stackable.grid.container
        .row
          h1 #{__('Oradores')}
        .row.ui.link.cards
            each speaker in speakers
            
              .card.four.wide
                .ui.dimmer
                  .content
                    .center
                      p #{speaker.bio} 
                .image
                  img.ui.image.fluid.speaker(src="#{speaker.avatar}")
                .content
                  .header #{speaker.firstname} #{speaker.lastname} 
                  .meta
                    a @#{speaker.twitter} 
                  .description
                    | #{speaker.bio} 
                .extra.content
                  span.right.floated
                    | #{speaker.country}
                  span#speaker #{speaker.organization}
            
        .row
          .center.aligned.column
            a.ui.huge.button(href="#cfp") #{__('Postulate como disertante')}

    .ui.vertical.inverted.stripe.segment#inscripcion
      .ui.container
        .row
          .ui.inverted.icon.message
            i.calendar.icon
            .content
              .header.inverted #{__('Las incripciones serán abiertas el XX/2105. ')}
              .description
                img.ui.wireframe.image(style="margin:15px;", src="/img/wireframe-paragraph.png")
    .ui.vertical.inverted.stripe.segment#cfp
      .ui.container
        .row
          .ui.inverted.icon.message
            i.calendar.icon
            .content
              .header.inverted #{__('El cfp inicia el XX/2105. ')}
              .description
                img.ui.wireframe.image(style="margin:15px;", src="/img/wireframe-paragraph.png")
                img.ui.wireframe.image(style="margin:15px;", src="/img/wireframe-paragraph.png")
                img.ui.wireframe.image(style="margin:15px;", src="/img/wireframe-paragraph.png")


    .ui.vertical.stripe.segment
      .ui.container
        .row
          div#donde
            h1 #{__('Dónde? en el Instituto Geográfico Nacional')}
            h2 #{__('en la Ciudad de Buenos Aires.')}
            #map
            script.
              var map = L.map('map').setView([-34.57198,-58.44017],17);
              L.tileLayer('https://a.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
                  attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
                  maxZoom: 18,
                  id: 'fernando.jbnfnb8i',
                  accessToken: 'pk.eyJ1IjoiZmVybmFuZG8iLCJhIjoib29xOGNfbyJ9.bAxNNENyPazSKDPNTC_8Vw'
              }).addTo(map);

    .ui.vertical.stripe.segment
      .ui.container
        .row  
          .column
            .ui.items.inverted
              .item
                .content
                  .header
                    h1.right #{__('Talleres')}
                  .meta
                    span.price
                    span.stay
                  .description
                    img.ui.wireframe.image(style="margin:15px;", src="/img/wireframe-paragraph.png")
                    img.ui.wireframe.image(style="margin:15px;", src="/img/wireframe-paragraph.png")
                    img.ui.wireframe.image(style="margin:15px;", src="/img/wireframe-paragraph.png")
                    img.ui.wireframe.image(style="margin:15px;", src="/img/wireframe-paragraph.png")
                .ui.medium.image
                  img.foss4g2013.ui.fluid.circular.image(src="/img/foss4gba-3.jpg")
              .item
                .ui.large.image
                  img.foss4g2013.ui.fluid.circular.image(src="/img/foss4gba-w.jpg")
                .content
                  .header 
                    h1 #{__('Presentaciones')}
                  .meta
                    span.price
                    span.stay
                  .description
                    img.ui.wireframe.image(style="margin:15px;", src="/img/wireframe-paragraph.png")
                    img.ui.wireframe.image(style="margin:15px;", src="/img/wireframe-paragraph.png")
              .item
                .content
                  .header
                    h1 #{__('Comunidad')}
                  .meta
                    span.price
                    span.stay
                  .description
                    img.ui.wireframe.image(style="margin:15px;", src="/img/wireframe-paragraph.png")
                    img.ui.wireframe.image(style="margin:15px;", src="/img/wireframe-paragraph.png")
                .ui.large.image.right
                  img.foss4g2013.ui.fluid.circular.image(src="/img/foss4gba-1.jpg")
              

    .ui.vertical.stripe.segment
      .ui.container
        .row
          h1 #{__('Sponsors')}
          each sponsor in sponsors
            .ui.four.wide
              a.ui.wide(href=sponsor.url)
                img(src=sponsor.ad_url)
    .ui.vertical.stripe.segment
      .ui.text.container
        each article in articles
          h3.ui.header #{article.title}
          p #{article.text}
          a.ui.large.button #{__('Leer más')]
          h4.ui.horizontal.header.divider
            a(href='#') -
    .ui.notinverted.vertical.footer.segment
      .ui.container
        .ui.stackable.notinverted.divided.equal.height.stackable.grid
          .three.wide.column
            h4.ui.notinverted.header About
            .ui.notinverted.link.list
              a.item(href='#') #{__('FOSS4G')}
              a.item(href='#') #{__('Cuándo')}
              a.item(href='#') #{__('Dónde')}
              a.item(href='#inscripcion') #{__('Inscripción')}
              a.item(href='#') #{__('Contacto')}
          .three.wide.column
            h4.ui.notinverted.header #{__('Presentaciones:')}
            .ui.notinverted.link.list
              a.item(href='#') #{__('Convocatoria')}
              a.item(href='#') #{__('Términos')}
              a.item(href='#') #{__('Temas')}
              a.item(href='#') #{__('Grilla/Horarios')}
          .three.wide.column
            h4.ui.notinverted.header #{__('Hecho con')}
            .ui.notinverted.link.list
              a.item(href='#') #{__('libreconf')}
            h4.ui.notinverted.header #{__('por')}
            .ui.notinverted.link.list
              a.item(href='#') #{__('geoinquietos')}
              a.item(href='#') #{__('osm-ar')}
          .four.wide.column
            h4.ui.notinverted.header #{__('Organiza')]
            img.ui.image(src="/img/geoinquietos-isologo-blanco.png")
  script.
    $('img.speaker').dimmer({on: 'hover'});
    $('.image.foss4g2013').hover(function(){$(this).transition('stop').transition('pulse');});
      